# -----------------------------------------------------------------------------
#
#
# -----------------------------------------------------------------------------
set_io LED0 39
set_io LED1 40
set_io LED2 41

set_io MOSI 17
set_io MISO 14
set_io SCLK 15
set_io CSN 16
