# -----------------------------------------------------------------------------
#
# -----------------------------------------------------------------------------
set_io clk 15
set_io led0 40
set_io led1 51